# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build Site

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '8'

    - name: Install Apache Ant
      run: |
        sudo apt-get update
        sudo apt-get install -y ant

    - name: Build ImageJ from source with patches
      run: bash prepare.sh

    - name: Copy files to dist
      run: |
        mkdir dist
        cp index.html dist/
        cp hypha-imagej-service.js dist/
        cp utils.js dist/
        cp -r lib dist/

    - name: Deploy to GitHub Pages
      if: github.ref == 'refs/heads/main'
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist
